
# NODE_ENV is set in package.json scripts. Do not specify your environment in this file
# See README for more details.

# Instruct Express Server to use either http or https
# if https -> create your private keys and certificates before changint this option to https
EXPRESS_SERVER_MODE=http

# Express Server Port Number
PORT=3000

# Path to SSL keys 
PATH_TO_DEV_PRIVATE_KEY=./config/certificates/star_private.key
PATH_TO_DEV_CERTIFICATE='./config/certificates/star_ssl_full_sitename.crt
PATH_TO_PROD_PRIVATE_KEY=/var/ssl/star_private.key
PATH_TO_PROD_CERTIFICATE=var/ssl/star_ssl_full_sitename.crt

# client port: can make requests to server application, web client app
CLIENT_PORT=3001

# admin port: allowed origin
ADMIN_PORT=3100

# use MLAB mongodb host
USE_MLAB_DB_HOST=TRUE
MLAB_API_KEY=12345678
MLAB_DATABASE=my_database

# Database population Settings
## Flag application to populate database
DB_POPULATE=TRUE
## Test for data collections first: if no data is found then populate
DB_POPULATE_SAFETY_FIRST=TRUE
# list collections seperated by comma: users, products, issues
DB_POPULATE_TEST_COLLECTIONS=users

# Populate User Collection
# level 0: Super Admin
# level 1: Admin
# level 2: Power User
# level 3: Author
# level 4: User

## Set amount of Admin(s) to be created:
DB_POPULATE_ADMINS=3
## Set amount of Power user(s) to be created
DB_POPULATE_POWER_USERS=5
## Set amount of Authors to be created
DB_POPULATE_AUTHORS=10
## Set amoutn of users to be created
DB_POPULATE_USERS=50

#Super Admin credentials (yours)
SUPERADMIN_FIRST_NAME=John
SUPERADMIN_LAST_NAME=Doe
SUPERADMIN_EMAIL=johndoe@superadmin.org
SUPERADMIN_PASSWORD=12345678

# google auth id
# see https://console.developers.google.com
ENABLE_GOOGLE_AUTHENTICATION=FALSE
GOOGLE_AUTH_ID=12345678

# google auth scret
GOOGLE_AUTH_SECRET=verysecrative

# google callback url
GOOGLE_CALLBACK_URL=/api/user/auth/google/callback

# Store webtoken (after user authentication)
STORE_WEBTOKEN_AS_COOKIE=TRUE;
WEBTOKEN_COOKIE=myApplicationCookieWebToken

# Send Token with json object after user authenticatiom
SEND_TOKEN_RESPONSE=TRUE


